{% extends 'base.html' %}
{% block title %}Commandes{% endblock %}

{% block content %}
<div class="dashboard-header">
    <div>
        <h1>📦 Commandes</h1>
        <p class="text-gray">Gérer les commandes de la plateforme</p>
    </div>
    <a href="{% url 'admin_dashboard' %}" class="btn-primary">← Retour au dashboard</a>
</div>
<div class ="admin-table-card">
    <table class="data-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Client</th>
                <th>Vendeur</th>
                <th>Total</th>
                <th>Status</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>#{{ order.id }}</td>
                <td>{{ order.client.username }}</td>
                <td>{{ order.seller.shop_name }}</td>
                <td>{{ order.total_price }} MAD</td>
                <td><span class="badge badge-{{ order.status }}">{{ order.get_status_display }}</span></td>
                <td>{{ order.created_at|date:"d/m/Y H:i" }}</td>
                <td><a href="{% url 'admin_order_detail' order.pk %}" class="btn-primary">Voir</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
   <div class=payment-stats>
    <div class="stat-card">
        <span class="stat-icon">💳</span>
        <div>
            <div class="stat-value">{{ payment_stats.total }}</div>
            <div class="stat-label">Paiements</div>
        </div>
    </div>
    <div class="stat-card">
        <span class="stat-icon">✅</span>
        <div>
            <div class="stat-value">{{ payment_stats.success }}</div>
            <div class="stat-label">Succès</div>
        </div>
    </div>
    <div class="stat-card">
        <span class="stat-icon">❌</span>
        <div>
            <div class="stat-value">{{ payment_stats.failed }}</div>
            <div class="stat-label">Échoués</div>
        </div>
    </div>
   </div>   
</div>
{% endblock %}