<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FloralShop{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar">
    <a href="/" class="navbar-brand">🌸 FloralShop</a>

    <div class="navbar-links">
        {% if user.is_authenticated %}
            <span class="nav-role role-{{ user.role }}">{{ user.get_role_display }}</span>
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'profile' %}">{{ user.username }}</a>
            <a href="{% url 'logout' %}" class="btn-logout">Déconnexion</a>
        {% else %}
            <a href="{% url 'login' %}">Connexion</a>
            <a href="{% url 'register' %}" class="btn-primary">Inscription</a>
        {% endif %}
    </div>
</nav> 

{% if messages %}
<div class="messages-container">
    {% for message in messages %}
    <div class="message message-{{ message.tags }}">
        {{ message }}
        <button onclick="this.parentElement.remove()">×</button>
    </div>
    {% endfor %}
</div>
{% endif %}


<main class="main-content">
    {% block content %}{% endblock %}
</main>

<footer class="footer">
    <p>🌸 FloralShop — Tous droits réservés</p>
</footer>

<script src="{% static 'js/main.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>